{block title}Programy pro veřejnost | Aktuality{/block}
{block content}
{include breadcrumb_nav, backlinks => $backlinks}
<article class="article-detail">
	<h1 class="article-title">Programy pro veřejnost</h1>
	<img class="article-image" src="{$basePath}/images/actuality/sf.jpg" />
	{$text}
</article>
