app/config/config.local.neon
node_modules/*
temp/cache/*
www/images/galery/*
www/images/interpret_avatars/*
log/*
www/images/kcfinder/teaching/*
www/images/articles/*
www/images/music_interpret_avatars/*
www/images/news_thumbs/*
www/mp3_music/*
temp/btfj.dat
