#
# WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
# https://nette.org/security-warning
#
parameters:


application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter

session:
	expiration: 14 days

constants:
	ACTUALITIES_IMG_FOLDER = images/actuality
	ARTICLES_IMG_FOLDER = images/articles

services:
	- App\AdminModule\Model\UserManager
	filters: App\Templates\Filters
	common: App\AdminModule\Model\Common 
	search: App\Model\Search
	news: App\Model\News
	newsType: App\Model\NewsType
	actuality: App\Model\Actuality
	slide: App\Model\Slide
	article: App\Model\Article
	articleCategory: App\Model\ArticleCategory
	galery: App\Model\Galery
	photo: App\Model\Photo
	interpret: App\Model\Interpret
	audio: App\Model\Audio
	audio_playcount: App\Model\AudioPlaycount
	audio_downloadcount: App\Model\AudioDownloadcount	
	audio_collection: App\Model\AudioCollection
	music: App\Model\Music
	music_interpret: App\Model\MusicInterpret
	music_album: App\Model\MusicAlbum
	music_genre: App\Model\MusicGenre
	music_playcount: App\Model\MusicPlaycount
	music_downloadcount: App\Model\MusicDownloadcount	
	book: App\Model\Book
	page: App\Model\Page
	router: App\RouterFactory::createRouter
