.audio_nav {
	.link:not(:last-child):after {
		content: '|';
		font-size: 1.1em;
		color: @webTextColor;
		margin-left: 5px;
		position: relative;
		top: -1px;
	}
}

.lectures-group {
	margin-bottom: 90px;
	
	&:first-of-type {
		margin-top: 36px;
	}
	
	&.group-continual {
		margin-top: 20px;
	}
	
	.group-header {
		width: 100%;
		margin: 20px 0 -20px 0;
		clear: both;
		
		.group-header-title {
			font-family: "PT Sans",sans-serif;
			font-weight: normal;
			font-size: 23px !important;
			color: #333333;
			border-bottom: 2px solid rgba(235, 140, 58, 0.78);
			margin-left: 90px !important;
			display: block;
			position: relative;
			top: -50px;

			&.text-only {
				margin-left: 0 !important;
				top: -20px;
			}

			&.adjust-mob-large {
				top: -70px;
			}
						
			&.adjust-mob-small {
				top: -77px;
			}
		}
		
		.group-header-label {
			width: 75px;
			height: 75px;
			border-radius: 15px 0 15px 0;
			background-size: 75px;
			margin: -20px 15px 0 0;
			display: block;
			float: left;

			&.label-text {
				font-size: 30px;
				line-height: 79px;
				text-align: center;
				color: #FFFFFF;
				background-color: #325058;
				
				&.infinity {
					font-size: 40px;
					line-height: 79px;
				}

				&.year-label {
					font-size: 22px;
				}
			}

			&.alt-color {
				background-color: #796956;
			}

			&.unknown-label {
				
				background-color: #BBBBBB;
			}
		}
	}
}

.category-list {
		
}