.collection-title {
	display: inline-block;
	float: left;
	margin-bottom: 12px;

	&.mobile {
		margin-bottom: 0;
	}
}

.next-prev-nav {
	float: right;
	display: inline-block;
	margin-top: 8px;
	margin-bottom: 10px;

	.link {
		display: inline-block;
	}

	.nav-delimiter {
		padding: 0 5px;
	}
}

.collection-nav {
	margin-top: 10px;
	margin-right: 15px;
	float: left;

	.link {
		text-transform: uppercase;
		display:block;
		float: left;
		padding-left: 10px;
	}

	.link:after, .link:first-child:before {
		content: '|';
		font-size: 1.0em;
		color: @webTextColor;
		margin-left: 10px;
		position: relative;
		top: -1px;
	}

	.link:first-child {
		padding-left: 0;
	}

	.link:first-child:before {
		margin-right: 10px;
		margin-left: 0;
	}

	&.right-nav {
		margin-right: 0;
		float: right;

		.link {
			text-transform: none;
		}
	}
}

.collection-nav-clearfix {
	height: 30px;

	.small-mobile-screen-down({
		display: none !important;
	});
}

.collection-breadcrumb-nav {
	float: left;
	margin-top: 15px;
    margin-left: 5px;

    &.mobile {
    	margin-top: 0;
    	margin-bottom: 3px;
    }
}