body {
	font-family: 'PT Sans', sans-serif;
	background-color: #FFFFF3;
    background-image: url('../images/layout/bg.gif');
   	background-size: 120px;
}

.navbar {
	background-color: transparent;
	border: none;
	margin-top: 25px;
	
	.tablet-wide-screen({margin-bottom: 0px});
	.tablet-screen({margin-bottom: 0px});
	
	.mobile-screen({
		margin-top: 0px;
		background-color: #f8f8f8
	});

	.navbar-collapse {
		padding-right: 0;
		padding-left: 0;
	}

	.navbar-brand {
		float: none;

		img {
			width: 370px;
			float: left;

			.tablet-wide-screen({width: 300px});
			.tablet-screen({
				width: 230px;
				padding-top: 2px;
			});
			.mobile-screen({
				width: 110px;
				margin: 10px;
			});
		}
	}

	.nav-container {
		width: 545px;
		height: 90px;
		float: right;
		
		.tablet-screen({
			width: 465px;
			height: 80px;
		});

		.mobile-screen({
			width: 100%;
			float: none
		});
		
		.actuality-bar {
			color: #EB8C3A;
			float: left;
			margin-top: 20px;
			margin-right: 1px;
			font-size: 20px;
			height: 32px;
			width: 543px;

			.tablet-wide-screen({
				margin-top: 15px;
				margin-right: 2px;
			});
		
			.tablet-screen({
				margin-top: 5px;
				width: 461px;
			});

			.mobile-screen({
				float: left;
				width: 100%;
			});

			> a.section-link {
				font-size: 19px;
				color: #12333e;
				float: left;
			    transition: 0.3s;
				
				&:hover {
					color: #EB8C3A;
				    transition: 0.3s;
				}
			}

			#actuality_slider {
				width: 470px;
				height: 30px;
				margin: -1px 0 0 5px;
				float: left;

				.tablet-screen({width: 388px !important});
				.mobile-screen({width: 435px !important});
				.extra-small-screen({
					margin-top: 3px;
					margin-left: 0px;
					clear: both;
				});

				a {
					color: #EB8C3A;
					.extra-small-screen({
						font-size: 18px;
					});
				}
			}
			
			#actuality_slider div[u=slides] {
			  	width: 470px;
			  	height: 30px;
			  	font-size: 20px;

			  	.tablet-screen({width: 388px});
			}
		}
		
		.actuality-bar > a {
			font-size: 19px;
			color: #12333e;
			float: left;
		    transition: 0.3s;		
		}
		
		.actuality-bar > a:hover{
			color: #EB8C3A;
		    transition: 0.3s;
		}	
		
		a.facebook-link {
			width: 30px;
			height: 30px;
			font-size: 25px;
			line-height: 33px;
			text-align: center;
			color: #ffffff;
			background-color: #EB8C3A;
			border-radius: 5px 0;
		    margin-top: 8px;
		    float: right;
		    clear: left;
		    transition: 0.2s;    
			
			.tablet-wide-screen({margin-top: 1px});
			.tablet-screen({margin-top: -3px});
			.mobile-screen({margin-top: -35px});
		}

		a.facebook-link:hover {
		    color: #12323D;
		    transition: 0.2s;
		    text-decoration: none;
		}
	}
}

.navbar-header {
    display: none;
    
    .mobile-screen({display: block;})
}

.navbar-nav {
	float: left;

	.tablet-wide-screen({margin-top: -7px});
	.tablet-screen({margin-top: -12px});
	.mobile-screen({
		margin-top: 0px;
		float: left;
	});

	.extra-small-screen({margin-top: 25px});

	li {
		a {
			font-size: 1.2em;

			.tablet-screen({
				padding-left: 6px !important;
				padding-right: 13px !important;
			});
		}

		&:first-child a {
			padding-left: 0px;

			.tablet-screen({padding-left: 0px !important});
			.mobile-screen({padding-left: 15px !important});
		}
	}
}

footer {
    background: #fff;
    background: rgba(255,255,255,0.9);
}

footer p {
    margin: 0;
    padding: 50px 0;
}

@media screen and (min-width:1200px) {
    .box:after {
        content: '';
        display: table;
        clear: both;
    }
}