body {
	font-family: 'PT Sans', sans-serif;
	font-size: 15px;
	line-height: 1.6;
	background-color: #FFFFF3;
    background-image: url('../images/layout/bg.gif');
   	background-size: 120px;
}

h1, h2 {
	font-family: 'Lora', serif;
	font-weight: bold;
	color: #EB8C3A;
	clear: both;
}

h1 {
	font-size: 30px;
	line-height: 1.6 !important;
	margin: 0 0 5px 0;
	height: 48px;
}

h2 {
	font-size: 20px;
	margin: 30px 0px 10px 0px;
}
.navbar {
	background-color: transparent;
	border: none;
	margin-top: 25px;
	margin-bottom: 15px;
	
	.tablet-wide-screen({margin-bottom: 0px});
	.tablet-screen({margin-bottom: 0px});
	
	.mobile-screen({
		margin-top: 0px;
		margin-bottom: 0px;
		background-color: #f8f8f8;
	});

	.navbar-collapse {
		padding-right: 0;
		padding-left: 0;
	}

	.navbar-brand {
		float: none;
		margin-left: -20px !important;

		img {
			width: 370px;
			float: left;

			.tablet-wide-screen({width: 300px});
			.tablet-screen({
				width: 170px;
				padding-top: 2px;
			});
			.mobile-screen({
				width: 110px;
				margin: 10px;
			});
		}
	}

	.nav-container {
		width: 640px;
		height: 85px;
		float: right;
		
		.tablet-wide-screen({
			width: 620px;
			height: 90px;
		});
		
		.tablet-screen({
			width: 535px;
			height: 73px;
			margin-top: 7px;
		});

		.mobile-screen({
			width: 100%;
			padding: 10px;
			float: none;
		});
		
		.actuality-bar {
			color: #EB8C3A;
			float: left;
			margin-top: 20px;
			margin-right: 1px;
			font-size: 20px;
			height: 32px;
			width: 543px;

			.tablet-wide-screen({
				margin-top: 15px;
				margin-right: 2px;
			});
		
			.tablet-screen({
				margin-top: 5px;
				width: 461px;
			});

			> a.section-link {
				font-size: 19px;
				color: #12333e;
				float: left;
			    transition: 0.3s;
				
				&:hover {
					color: #EB8C3A;
				    transition: 0.3s;
				}
			}

			#actuality_slider {
				width: 470px;
				height: 30px;
				margin: -1px 0 0 5px;
				float: left;

				.tablet-screen({width: 388px !important});

				a {
					color: #EB8C3A;
				}
			}
			
			#actuality_slider div[u=slides] {
			  	width: 470px;
			  	height: 30px;
			  	font-size: 20px;

			  	.tablet-screen({width: 388px});
			}
		}
		
		.actuality-bar > a {
			font-size: 19px;
			color: #12333e;
			float: left;
		    transition: 0.3s;		
		}
		
		.actuality-bar > a:hover{
			color: #EB8C3A;
		    transition: 0.3s;
		}	
		
		a.facebook-link {
			width: 30px;
			height: 30px;
			font-size: 25px;
			line-height: 33px;
			text-align: center;
			color: #ffffff;
			background-color: #EB8C3A;
			border-radius: 5px 0;
		    margin-top: 8px;
		    float: right;
		    clear: left;
		    transition: 0.2s;    
			
			.tablet-wide-screen({margin-top: 1px});
			.tablet-screen({margin-top: 0px});
			.mobile-screen({margin-top: 0px});
		}

		a.facebook-link:hover {
		    color: #12323D;
		    transition: 0.2s;
		    text-decoration: none;
		}
	}
}

.navbar-header {
    display: none;
    border-bottom: 1px 	rgba(235, 140, 58, 0.5) solid;

    .mobile-screen({display: block;})
}

.navbar-nav {
	float: left;

	.tablet-wide-screen({margin-top: -7px});
	.tablet-screen({margin-top: -2px});
	.mobile-screen({
		margin-top: 0px;
		float: left;
	});

	li {
		a {
			font-size: 17px; 
			
			.tablet-wide-screen({
				padding-right: 12px !important;
			});

			.tablet-screen({
				padding-left: 6px !important;
				padding-right: 11px !important;
				padding-top: 9px !important;
				padding-bottom: 11px !important;
			});
		}

		&:first-child a {
			padding-left: 0px;

			.tablet-screen({padding-left: 0px !important});
			.mobile-screen({padding-left: 15px !important});
		}
	}
}

.divider {
    width: 100%;
    height: 18px;
    margin-top: 2px;
    background: url("../images/layout/divider.png") no-repeat center center / 1180px 18px; 
    clear: both;
 
	.large-mobile-screen-down({
		background: none; 
	});

	&.simple {
	    background: url("../images/layout/divider-simple.png") top center / 1180px 4px;
	    height: 4px;
    }
    
    &.flipped {
	    transform: rotate(180deg);    
    }
    
    &.shifted {
	    margin-top: -13px;
    }
    
    &.broken {
	    height: 44px;
	    background-size: 990px 44px;
		background-image: url(../images/layout/divider-broken.png);
    }
}

.main-content {
	min-height: 500px;
	margin-bottom: 30px;
}

nav.breadcrumb-nav {
	float: left;
	display: table;
	margin-top: -6px;
	margin-bottom: 4px;
	margin-right: 15px;

	.large-mobile-screen-down({
		margin-bottom: 0;
	});
}

nav.next-prev-nav {
	float: right;
	display: table;
	margin-top: -6px;
	margin-bottom: 4px;

	&.mobile {
		margin: 10px 0;
	}

	.nav-delimiter {
		padding: 0 5px;
	}

	.large-mobile-screen-down({
		margin-bottom: 0;
	});
}

.mahamantra-text {
	width: 100%;
	height: 23px;
	text-align: left;
	color: @webBrown;
	font-family: 'Bubblegum Sans', cursive;
	font-size: 22px;
	word-spacing: 2px;
	white-space: nowrap;
	overflow: hidden;

	.tablet-wide-screen({
		font-size: 20px;
		height: 21px;
	});

	.tablet-screen({
		font-size: 18px;
		height: 19px;
	});

	.mobile-screen({
		font-size: 16px;
		height: 17px;
	});

	.extra-small-screen({
		font-size: 14px;
		height: 15px;
	});

	.ultra-small-screen({
		font-size: 12px;
		height: 12px;
	});
} 

footer {
	min-height: 55px;
	font-size: 14px;
	line-height: 20px;
	color: #FFFFFF;
    background: @webBrown;
    padding-top: 35px;
    padding-bottom: 35px;

    .container {
		@media screen and (max-width: 700px) {
			padding-left: 10px;
    		padding-right: 10px;

			.bhavan-info {
	        	margin: 0;
	    	}
		}
    }

    .address-info {
    	height: 59px;
    	border-right: 1px #FFFFFF dotted;
    	padding-top: 3px;

    	.box {
    		width: 360px;

    		@media screen and (max-width: 440px) {
	 			width: 100%;
    		}
    	}

	 	@media screen and (max-width: 767px) {
	 		padding-left: 10%;
        	float: left;
    	}

		@media screen and (max-width: 700px) {
        	width: 100%;
        	height: 65px;
        	padding-bottom: 5px;
        	float: none;
        	border-right: none;
        	border-bottom: 1px #FFFFFF dotted;
        	padding-right: 0px;
        	padding-left: 0px;

        	.box {
    			margin: 0 auto;
    		}
    	}    	

    	@media screen and (max-width: 390px) {
    		height: 105px;
    		padding-left: 10px;
    	}

	    .footer-logo {
	    	height: 50px;
	    	margin-right: 10px;
	    	float: left;

	    	@media screen and (max-width: 390px) {
    			float: none;
    		}
	    }

	    .address-text {
	    	margin-top: 7px;
	    	margin-bottom: 5px;
	    	float: left;

	    	@media screen and (max-width: 390px) {
	    		margin-top: 5px;
		    	margin-bottom: 0;
    			float: none;
    		}
	    }

	    .map-link {
	    	color: @webTextColorHover;
	    	float: left;

	    	&:hover {
	    		color: #FFFFFF;
	    	}

	    	@media screen and (max-width: 390px) {
    			float: none;
    		}
	    }
		
	}

	.contact-info {
		@media screen and (max-width: 767px) {
			padding-left: 10%
		}

		@media screen and (max-width: 700px) {
			padding: 5px 0;
		}

		.row {
			@media screen and (max-width: 700px) {
				margin: 0 auto;
			}

			@media screen and (max-width: 440px) {
				width: 100%;
				margin: 0 auto;
			}
		}
		

		.leader-contact, .telbank-contact {
			white-space: nowrap;

			@media screen and (max-width: 767px) {
	        	float: left;
	    	}

	    	@media screen and (max-width: 700px) {
	        	width: 50%;
				padding-left: 10vw;

	        	.box div {
	        		width: 40%;

	        		&:last-child {
	        			width: 60%;
	        		}
	        	}
	    	}

	    	@media screen and (max-width: 600px) {
	        	.box div {
	        		width: 100% !important;
	        		float: none;
	        	}
	    	}

	    	@media screen and (max-width: 440px) {
	    		float: none;
	    		padding-left: 2.5vw !important;
	    	}
		}

		.telbank-contact {
	    	@media screen and (max-width: 700px) {
	        	padding-right: 0;
	    	}

	    	@media screen and (max-width: 600px) {
	    		padding-left: 5vw;	        
	    	}
		}
		
		.link-mail {
			color: inherit;
		}
	}
}