@import "layout.less";
@import "list.less";
@import "collection.less";
@import "homepage.less";
@import "article.less";
@import "audio.less";

/**********************
       CONSTANTS
***********************/

@webTextColor: #12323d;
@webTextColorHover: #eb8c3a;
@webBrown: #61503c;

/**********************
        MIXINS
***********************/

// Mixins for mediaqueries
.tablet-wide-screen(@rules) {
    @media screen and (min-width: 992px) and (max-width: 1199px) {
        @rules();
    }
}

.tws-down(@rules) {
    @media screen and (max-width: 991px) {
        @rules();
    }
}

.tablet-screen(@rules) {
    @media screen and (min-width: 768px) and (max-width: 991px) {
        @rules();
    }
}

.ts-up(@rules) {
    @media screen and (min-width: 992px) {
        @rules();
    }
}

.large-mobile-screen(@rules) {
    @media screen and (min-width: 600px) and (max-width: 767px) {
        @rules();
    }
}

.large-mobile-screen-up(@rules) {
    @media screen and (min-width: 768px) {
        @rules();
    }
}

.large-mobile-screen-down(@rules) {
    @media screen and (max-width: 767px) {
        @rules();
    }
}

.small-mobile-screen-down(@rules) {
    @media screen and (max-width: 599px) {
        @rules();
    }
}

.small-mobile-screen-up(@rules) {
    @media screen and (min-width: 600px) {
        @rules();
    }
}

.mobile-screen(@rules) {
    @media (max-width: 767px) {
        @rules();
    }
}

.extra-small-screen(@rules) {
    @media (max-width: 544px) {
        @rules();
    }
}

.ultra-small-screen(@rules) {
    @media (max-width: 320px) {
        @rules();
    }
}

.hide-tws-down {
    .tws-down({
        display: none !important;
    });
}

.hide-ts-up {
    .ts-up({
        display: none !important;
    });
}

.sms-down {
	.small-mobile-screen-down ({
		display: block !important;
	});
}

.sms-up	{
	.small-mobile-screen-up ({
		display: block !important;
	});
}

.visible-sm-xs {
    .large-mobile-screen({
        display: block;
    });
}

.hide-lms-down {
	.large-mobile-screen-down({
		display: none !important;
	});
}

.visible-ts  {
    .tablet-screen({
        display: block;
    });
}


.outline(@color: black) {
    outline: 1px @color solid;
}

a:hover, a:focus{
	text-decoration: none;
}

.link {
	color: @webTextColor;
	transition: 0.3s; 

	&.current {
		color: @webTextColorHover;
	}	

	&:hover {
		color: @webTextColorHover;
		transition: 0.3s; 
	}
	
	&:focus {
		color: @webTextColorHover;
	}
}

.link-inverse {
    color: @webTextColorHover;
    transition: 0.3s; 

    &.current {
        color: @webTextColor;
    }   

    &:hover {
        color: @webTextColor;
        transition: 0.3s; 
    }
    
    &:focus {
        color: @webTextColor;
    }
}

.link-disabled {
    color: #BBBBBB;
}

a[href^="tel"]{
    color: inherit;
    text-decoration: none;
}

.bold {
	font-weight: bold;
}

.scale-text {
    white-space: nowrap;
}

button:focus {
	outline:0;
}

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clearfix {
    display: inline-block;
}

html[xmlns] .clearfix {
    display: block;
}

* html .clearfix {
    height: 1%;
}