{layout ../@layout.latte}
{block content}
<h1>{block title}Audio{/block}</h1>
<nav class="audio_nav">
	<a n:class="link, $presenter->isLinkCurrent('Audio:latest') ? current" n:href="latest">Nejnovější</a>
	<a n:class="link, $presenter->isLinkCurrent('Audio:interprets') ? current" n:href="interprets">Autoři</a>
	<a n:class="link, $presenter->isLinkCurrent('Audio:years') ? current" n:href="years">Roky</a>
	<a n:class="link, $presenter->isLinkCurrent('Audio:themes') ? current" n:href="themes">Témata</a>
</nav>
{include audio}