<div class="group-header">
	<div class="group-header-label{ifset $class} {$class}{/ifset}">{ifset $group_label_title}{$group_label_title}{/ifset}</div>
	<div class="group-header-title"><h2 n:ifset="$group_title">{$group_title}</h2></div>
</div>