{block title}O nás{/block}
{block content}
<article class="article-detail">
	<h1 class="article-title">Programy pro veřejnost</h1>
	{$text}
</article>

{/block}
{block scripts}
{include parent}
{/block}