{layout ../@layout.latte}
{block content}
<h1 class="collection-title">Učení</h1>
<div class="divider simple"></div>
<nav class="collection-nav clearfix">
	<a class="link{if $category->id == 1} current{/if}" n:href="Teaching:category, 1">Základy filosofie</a>
	<a class="link{if $category->id == 2} current{/if}" n:href="Teaching:category, 2">Jak praktikovat</a>
	<a class="link{if $category->id == 3} current{/if}" n:href="Teaching:category, 3">Blog</a>
</nav>
{include teaching_content}
{/block}