<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Prabhupád Bhavan Brno mainsite">
    <meta name="author" content="Muktakéša dás">

	<title>{ifset title}{include title|stripHtml} | {/ifset}Prabhupád Bhavan</title>
    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">

    <!-- Custom CSS -->
	<link rel="stylesheet" href="{$basePath}/css/style.css">
	
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

	{block head}{/block}
</head>

<body>
    <nav class="navbar navbar-default" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{link Homepage:default}"><img src="{$basePath}/images/layout/logo-pb.png"></a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
       	        <a class="navbar-brand hidden-xs" href="{link Homepage:default}"><img src="{$basePath}/images/layout/logo-pb.png"></a>
                <div class="nav-container">
           	        <nav class="actuality-bar"><a class="section-link" n:href="Actuality:default">AKCE:</a>
    					<div id="actuality_slider" class="slideshow">
    					    <div u="slides">
    						    <div>
    					        	<a n:href="Actuality:sunday">Programy pro veřejnost</a>
    						    </div>
    					        <div n:foreach="$actualities as $actuality">
    					        	<a n:href="Actuality:detail, $actuality->id">{$actuality->title}</a>
    					        </div>
    					    </div>
    				    </div>
    		        </nav>
                    <a href="https://www.facebook.com/pages/Prabhup%C3%A1d-Bhavan/160940383943087" target="_blank" class="facebook-link">f</a>
                    <ul class="nav navbar-nav">
                        <li><a class="link" href="index.html">domů</a></li>
                        <li><a class="link" href="contact.html">akce</a></li>
                        <li><a class="link" href="about.html">o nás</a></li>
                        <li><a class="link" href="blog.html">články</a></li>
                        <li><a class="link" href="contact.html">fotky</a></li>
                        <li><a class="link" href="contact.html">audio</a></li>
                        <li><a class="link" href="contact.html">odkazy</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="box">
                <div id="slideshow" class="slideshow">
                    <div u="slides">
                        <div n:foreach="$slides as $slide" idle="{$slide->delay * 1000}">
                            <a href="{$slide->target}"><img u="image" src="{$basePath}/images/slides/{$slide->file}" /></a>
                        </div>
                        <div u="navigator" class="slider-bullets">
                            <div u="prototype"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row news-section visible-lg">
            <div class="col-md-4">
                <h2><a class="link" n:href="Actuality:default">Akce:</a></h2>
                <div id="events_slider_lg" n:class="slideshow, news-slideshow">
                    <div u="slides">
                        <div>
                            <a class="new-link" n:href="Actuality:sunday">
                                <img class="new-image" src="{$basePath}/images/actuality/previews/program.jpg" />
                                <div class="bold new-title">Programy pro veřejnost</div>
                                <span class="new-description">
                                    Každou neděli od 14:00 hodin
                                </span>
                            </a>
                        {foreach $event_news as $new}
                        {if $iterator->counter % 3 == 1 && !$iterator->first}
                        </div>
                        <div>
                        {/if}
                            <a class="new-link" {if $new->target != ""} href="{$new->target}"{/if}>
                                <img class="new-image" src="{$basePath}/images/news_thumbs/{$new->file}" />
                                <div class="new-title">{$new->title}</div>
                                <span class="new-description">
                                    {if $new->date_to != ""}
                                        {$new->date_from|date: 'j.n.'} - {$new->date_to|date: 'j.n.Y'}
                                    {else}
                                        {$new->date_from|date: 'j.n.Y'}
                                    {/if}
                                </span>
                            </a>
                        {/foreach}          
                        </div>
                    </div>
                </div>
                {if $event_news->count() != 1}
                <button class="news-nav-button prev" onclick="prevSlide('events_slider')">předchozí</button>
                <button class="news-nav-button next" onclick="nextSlide('events_slider')">nadcházející</button>
                {/if}
            </div>
            <div class="col-md-4">
                <h2><a class="link" n:href="Galery:galeries">Foto:<a/></h2>
	            <div id="photos_slider_lg" n:class="slideshow, news-slideshow">
                    <div u="slides">
                        <div>
                        {foreach $photo_news as $new}
                        {if $iterator->counter % 3 == 1 && !$iterator->first}
                        </div>
                        <div>
                        {/if}
                            <a class="new-link" {if $new->target != ""} href="{$new->target}"{/if}>
                                <img class="new-image" src="{$basePath}/images/news_thumbs/{$new->file}" />
                                <div class="new-title">{$new->title}</div>
                                <span class="new-description">
                                    {if $new->date_to != ""}
                                        {$new->date_from|date: 'j.n.'} - {$new->date_to|date: 'j.n.Y'}
                                    {else}
                                        {$new->date_from|date: 'j.n.Y'}
                                    {/if}
                                </span>
                            </a>
                        {/foreach}          
                        </div>
                    </div>
                </div>
                {if $photo_news->count() != 1}
                <button class="news-nav-button prev" onclick="prevSlide('photos_slider')">novější</button>
                <button class="news-nav-button next" onclick="nextSlide('photos_slider')">starší</button>
                {/if}
            </div>
            <div class="col-md-4">
                <h2><a class="link" n:href="Audio:latest">Audio:<a/></h2>
	            <div id="audio_slider_lg" n:class="slideshow, news-slideshow">
			    	<div u="slides">
			        	<div>
		        		{foreach $audio_news as $new}
						{if $iterator->counter % 3 == 1 && !$iterator->first}
						</div>
						<div>
						{/if}
							<a class="new-link" {if $new->target != ""} href="{$new->target}"{/if}>
							    <img class="new-image" src="{$basePath}/images/news_thumbs/{$new->file}" />
							    <div class="new-title">{$new->title}</div>
							    <span class="new-description">{$new->date_from|date: 'd.m.Y'}</span>
						    </a>
						{/foreach}		    
						</div>
			    	</div>
		    	</div>
				<button class="news-nav-button prev" onclick="prevSlide('audio_slider')">novější</button>
                <button class="news-nav-button next" onclick="nextSlide('audio_slider')">starší</button>
            </div>
        </div>

        <div class="row news-section visible-md">
            <div class="col-md-4">
                <h2><a class="link" n:href="Actuality:default">Akce:</a></h2>
                <div id="events_slider_md" n:class="slideshow, news-slideshow">
                    <div u="slides">
                        <div>
                            <a class="new-link" n:href="Actuality:sunday">
                                <img class="new-image" src="{$basePath}/images/actuality/previews/program.jpg" />
                                <div class="bold new-title">Programy pro veřejnost</div>
                                <span class="new-description">
                                    Každou neděli od 14:00 hodin
                                </span>
                            </a>
                        {foreach $event_news as $new}
                        {if $iterator->counter % 3 == 1 && !$iterator->first}
                        </div>
                        <div>
                        {/if}
                            <a class="new-link" {if $new->target != ""} href="{$new->target}"{/if}>
                                <img class="new-image" src="{$basePath}/images/news_thumbs/{$new->file}" />
                                <div class="new-title">{$new->title}</div>
                                <span class="new-description">
                                    {if $new->date_to != ""}
                                        {$new->date_from|date: 'j.n.'} - {$new->date_to|date: 'j.n.Y'}
                                    {else}
                                        {$new->date_from|date: 'j.n.Y'}
                                    {/if}
                                </span>
                            </a>
                        {/foreach}          
                        </div>
                    </div>
                </div>
                {if $event_news->count() != 1}
                <button class="news-nav-button prev" onclick="prevSlide('events_slider')">předchozí</button>
                <button class="news-nav-button next" onclick="nextSlide('events_slider')">nadcházející</button>
                {/if}
            </div>
            <div class="col-md-4">
                <h2><a class="link" n:href="Galery:galeries">Foto:<a/></h2>
                <div id="photos_slider_md" n:class="slideshow, news-slideshow">
                    <div u="slides">
                        <div>
                        {foreach $photo_news as $new}
                        {if $iterator->counter % 3 == 1 && !$iterator->first}
                        </div>
                        <div>
                        {/if}
                            <a class="new-link" {if $new->target != ""} href="{$new->target}"{/if}>
                                <img class="new-image" src="{$basePath}/images/news_thumbs/{$new->file}" />
                                <div class="new-title">{$new->title}</div>
                                <span class="new-description">
                                    {if $new->date_to != ""}
                                        {$new->date_from|date: 'j.n.'} - {$new->date_to|date: 'j.n.Y'}
                                    {else}
                                        {$new->date_from|date: 'j.n.Y'}
                                    {/if}
                                </span>
                            </a>
                        {/foreach}          
                        </div>
                    </div>
                </div>
                {if $photo_news->count() != 1}
                <button class="news-nav-button prev" onclick="prevSlide('photos_slider')">novější</button>
                <button class="news-nav-button next" onclick="nextSlide('photos_slider')">starší</button>
                {/if}
            </div>
            <div class="col-md-4">
                <h2><a class="link" n:href="Audio:latest">Audio:<a/></h2>
                <div id="audio_slider_md" n:class="slideshow, news-slideshow">
                    <div u="slides">
                        <div>
                        {foreach $audio_news as $new}
                        {if $iterator->counter % 3 == 1 && !$iterator->first}
                        </div>
                        <div>
                        {/if}
                            <a class="new-link" {if $new->target != ""} href="{$new->target}"{/if}>
                                <img class="new-image" src="{$basePath}/images/news_thumbs/{$new->file}" />
                                <div class="new-title">{$new->title}</div>
                                <span class="new-description">{$new->date_from|date: 'd.m.Y'}</span>
                            </a>
                        {/foreach}          
                        </div>
                    </div>
                </div>
                <button class="news-nav-button prev" onclick="prevSlide('audio_slider')">novější</button>
                <button class="news-nav-button next" onclick="nextSlide('audio_slider')">starší</button>
            </div>
        </div>

        <div class="row news-section visible-sm">
            <div class="col-md-4">
                <h2><a class="link" n:href="Actuality:default">Akce:</a></h2>
                <div id="events_slider_sm" n:class="slideshow, news-slideshow">
                    <div u="slides">
                        <div>
                            <a class="new-link" n:href="Actuality:sunday">
                                <img class="new-image" src="{$basePath}/images/actuality/previews/program.jpg" />
                                <div class="bold new-title">Programy pro veřejnost</div>
                                <span class="new-description">
                                    Každou neděli od 14:00 hodin
                                </span>
                            </a>
                        {foreach $event_news as $new}
                        {if ($iterator->counter + 1) % 2 == 1 && !$iterator->first}
                        </div>
                        <div>
                        {/if}
                            <a class="new-link" {if $new->target != ""} href="{$new->target}"{/if}>
                                <img class="new-image" src="{$basePath}/images/news_thumbs/{$new->file}" />
                                <div class="new-title">{$new->title}</div>
                                <span class="new-description">
                                    {if $new->date_to != ""}
                                        {$new->date_from|date: 'j.n.'} - {$new->date_to|date: 'j.n.Y'}
                                    {else}
                                        {$new->date_from|date: 'j.n.Y'}
                                    {/if}
                                </span>
                            </a>
                        {/foreach}          
                        </div>
                    </div>
                </div>
                {if $event_news->count() != 1}
                <button class="news-nav-button prev" onclick="prevSlide('events_slider')">předchozí</button>
                <button class="news-nav-button next" onclick="nextSlide('events_slider')">nadcházející</button>
                {/if}
            </div>
            <div class="col-md-4">
                <h2><a class="link" n:href="Galery:galeries">Foto:<a/></h2>
                <div id="photos_slider_sm" n:class="slideshow, news-slideshow">
                    <div u="slides">
                        <div>
                        {foreach $photo_news as $new}
                        {if $iterator->counter % 2 == 1 && !$iterator->first}
                        </div>
                        <div>
                        {/if}
                            <a class="new-link" {if $new->target != ""} href="{$new->target}"{/if}>
                                <img class="new-image" src="{$basePath}/images/news_thumbs/{$new->file}" />
                                <div class="new-title">{$new->title}</div>
                                <span class="new-description">
                                    {if $new->date_to != ""}
                                        {$new->date_from|date: 'j.n.'} - {$new->date_to|date: 'j.n.Y'}
                                    {else}
                                        {$new->date_from|date: 'j.n.Y'}
                                    {/if}
                                </span>
                            </a>
                        {/foreach}          
                        </div>
                    </div>
                </div>
                {if $photo_news->count() != 1}
                <button class="news-nav-button prev" onclick="prevSlide('photos_slider')">novější</button>
                <button class="news-nav-button next" onclick="nextSlide('photos_slider')">starší</button>
                {/if}
            </div>
            <div class="col-md-4">
                <h2><a class="link" n:href="Audio:latest">Audio:<a/></h2>
                <div id="audio_slider_sm" n:class="slideshow, news-slideshow">
                    <div u="slides">
                        <div>
                        {foreach $audio_news as $new}
                        {if $iterator->counter % 2 == 1 && !$iterator->first}
                        </div>
                        <div>
                        {/if}
                            <a class="new-link" {if $new->target != ""} href="{$new->target}"{/if}>
                                <img class="new-image" src="{$basePath}/images/news_thumbs/{$new->file}" />
                                <div class="new-title">{$new->title}</div>
                                <span class="new-description">{$new->date_from|date: 'd.m.Y'}</span>
                            </a>
                        {/foreach}          
                        </div>
                    </div>
                </div>
                <button class="news-nav-button prev" onclick="prevSlide('audio_slider')">novější</button>
                <button class="news-nav-button next" onclick="nextSlide('audio_slider')">starší</button>
            </div>
        </div>
    </div>
    <!-- /.container -->

    <footer>
    </footer>

    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
   	<script src="{$basePath}/js/main.js"></script>
	<script src="{$basePath}/js/jssor.slider.mini.js"></script>
	<script>
        var _ActualitySlidersTransitions = [
	        { $Duration:700,$Opacity:2,$Brother:{ $Duration:1000,$Opacity:2}},
        ];
	    
        var _SlideshowTransitions = [
            { $Duration: 1200, $Opacity: 2},
        ];

		var events_slider_lg;
		var photos_slider_lg;
		var audio_slider_lg;
        var events_slider_md;
        var photos_slider_md;
        var audio_slider_md;
        var events_slider_sm;
        var photos_slider_sm;
        var audio_slider_sm;
		
        function nextSlide(slider) {
            if(slider == "events_slider") {
                events_slider_lg.$Next();
                events_slider_md.$Next();
                events_slider_sm.$Next();
            }
            if(slider == "photos_slider") {
                photos_slider_lg.$Next();
                photos_slider_md.$Next();
                photos_slider_sm.$Next();
            }
            if(slider == "audio_slider") {
                audio_slider_lg.$Next();
                audio_slider_md.$Next();
                audio_slider_sm.$Next();
            }
        }

        function prevSlide(slider) {
            if(slider == "events_slider") {
                events_slider_lg.$Prev();
                events_slider_md.$Prev();
                events_slider_sm.$Prev();
            }
            if(slider == "photos_slider") {
                photos_slider_lg.$Prev();
                photos_slider_md.$Prev();
                photos_slider_sm.$Prev();
            }
            if(slider == "audio_slider") {
                audio_slider_lg.$Prev();
                audio_slider_md.$Prev();
                audio_slider_sm.$Prev();
            }
        }

	    jQuery(document).ready(function ($) {
            var options = {
                $AutoPlay: true,   
                $ArrowKeyNavigation: false,
                $PauseOnHover: 1,  
                $SlideWidth: 470,                                   {* [Optional] Width of every slide in pixels, default value is width of 'slides' container *}
                $SlideHeight: 30,                                   {* [Optional] Height of every slide in pixels, default value is height of 'slides' container *}
                $SlideshowOptions: {                                {* [Optional] Options to specify and enable slideshow or not *}
                    $Class: $JssorSlideshowRunner$,                 {* [Required] Class to create instance of slideshow *}
                    $Transitions: _ActualitySlidersTransitions, {* Fade *}
                },
            };

            var actuality_slider = new $JssorSlider$("actuality_slider", options);

            var options = { 
                $AutoPlay: true,   
                $ArrowKeyNavigation: true,
                $AutoPlayInterval: 3000,                            {* [Optional] Interval (in milliseconds) to go for next slide since the previous stopped if the slider is auto playing, default value is 3000 *}
                $PauseOnHover: 1,  
                $SlideDuration: 500,                                {* [Optional] Specifies default duration (swipe) for slide in milliseconds, default value is 500 *}
                
                $SlideSpacing: 0,                                   {* [Optional] Space between each slide in pixels, default value is 0 *}
                $SlideshowOptions: {                                {* [Optional] Options to specify and enable slideshow or not *}
                    $Class: $JssorSlideshowRunner$,                 {* [Required] Class to create instance of slideshow *}
                    $Transitions: _SlideshowTransitions,            {* Fade *}
                },

                $BulletNavigatorOptions: {                          {* [Optional] Options to specify and enable navigator or not *}
                    $Class: $JssorBulletNavigator$,                 {* [Required] Class to create navigator instance *}
                    $SpacingX: 5,                                   {* [Optional] Horizontal space between each item in pixel, default value is 0 *}
                }
            };

            var slideshow = new $JssorSlider$("slideshow", options);  

            function ScaleSlideshowSlider() {
                var parentWidth = $('#slideshow').parent().width();
                if (parentWidth) {
                    slideshow.$ScaleWidth(parentWidth);
                }
                else
                    window.setTimeout(ScaleSlideshowSlider, 30);
                
                browser_width = window.innerWidth;
				if(browser_width >= 992 && browser_width <= 1199) {
					$('.visible-md').css('height', '270px');
					$('.visible-md div.col-md-4').css('height', '335px');
					$('.visible-md div.col-md-4 .slideshow').css('height', '270px');
					console.log(browser_width);
				}
            }

            ScaleSlideshowSlider();
                                            
            $(window).bind("load", ScaleSlideshowSlider);
            $(window).bind("resize", ScaleSlideshowSlider);
            $(window).bind("orientationchange", ScaleSlideshowSlider); 
			
			if({$event_news->count()} > 3) {
				events_slider_lg = initNewsSlider("events_slider_lg", 365, 270);
                events_slider_md = initNewsSlider("events_slider_md", 310, 270);
                events_slider_sm = initNewsSlider("events_slider_sm", 730, 80);
            }
	
			if({$photo_news->count()} > 3) {
				photos_slider_lg = initNewsSlider("photos_slider_lg", 365, 270);
                photos_slider_md = initNewsSlider("photos_slider_md", 310, 270);
                photos_slider_sm = initNewsSlider("photos_slider_sm", 730, 80);
            }
			
			if({$audio_news->count()} > 3) {
				audio_slider_lg = initNewsSlider("audio_slider_lg", 365, 270);
                audio_slider_md = initNewsSlider("audio_slider_md", 310, 270);
                audio_slider_sm = initNewsSlider("audio_slider_sm", 730, 80);
            }
				
			function initNewsSlider(element_id, width, height) {
				var options = {
		            $SlideWidth: width, 
		            $SlideHeight: height,
		            $Loop: 0,
					$ArrowKeyNavigation: 0,
		        };
		        
		        var slider = new $JssorSlider$(element_id, options);       			

	       		slider.$On($JssorSlider$.$EVT_PARK, function(position, fromPosition) {
					var slides_count = slider.$SlidesCount();
					var slider_container = $('#' + element_id).parent();
					var prev_button = slider_container.find('button.prev');
					var next_button = slider_container.find('button.next');
					
					position == 0 ?	prev_button.fadeOut() :	prev_button.fadeIn();
					position == slides_count - 1 ? next_button.fadeOut() : next_button.fadeIn();
				});
				
				return slider;
			}
        });
    </script>


	{block scripts}{/block}
</body>
</html>
