<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Prabhupád Bhavan Brno mainsite">
    <meta name="author" content="Muktakéša dás">
	
	<title>{ifset title}{include title} | {/ifset}Prabhupád Bhavan</title>
    <!-- Bootstrap Core CSS -->
    <link href="{$basePath}/css/bootstrap.css" rel="stylesheet">

    <!-- Custom CSS -->
	<link rel="stylesheet" href="{$basePath}/css/style.css?v=2.2">

    <link href="https://fonts.googleapis.com/css?family=Lora" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Amaranth|Bubblegum+Sans|Caveat|Courgette|Dancing+Script|Grand+Hotel|Kalam|Kaushan+Script|Marck+Script|Pacifico|Petit+Formal+Script|Shadows+Into+Light+Two" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
	<link rel="manifest" href="/manifest.json">
	<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#eb8c3a">
	<meta name="theme-color" content="#eb8c3a">
	{block head}{/block}
</head>

<body>
	<script>
		(function(i,s,o,g,r,a,	m){
		i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
		
		ga('create', 'UA-66118107-1', 'auto');
		ga('send', 'pageview');
	</script>
    <nav class="navbar navbar-default" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{link Homepage:default}"><img src="{$basePath}/images/layout/logo-pb.png"></a>
            </div>
            <div class="collapse navbar-collapse" id="bs-navbar-collapse">
       	        <a class="navbar-brand hidden-xs" href="{link Homepage:default}">
                    <img class="hide-tws-down" src="{$basePath}/images/layout/logo-pb.png">
                    <img class="hide-ts-up" src="{$basePath}/images/layout/logo-pb-text.png">
                </a>
                <div class="nav-container">
           	        <nav class="actuality-bar hide-lms-down"><a class="section-link" n:href="Actuality:list">AKCE:</a>
    					<div id="actuality_slider" class="slideshow">
    					    <div u="slides">
    						    <div>
    					        	<a n:href="Actuality:sunday">Programy pro veřejnost</a>
    						    </div>
    					        <div n:foreach="$actualities as $actuality">
    					        	<a n:href="Actuality:detail, $actuality->id">{$actuality->title}</a>
    					        </div>
    					    </div>
    				    </div>
    		        </nav>
                    <a href="https://www.facebook.com/pages/Prabhup%C3%A1d-Bhavan/160940383943087" target="_blank" class="facebook-link">f</a>
                    <ul class="nav navbar-nav">
                        <li><a n:class="link, $presenter->isLinkCurrent('Homepage:*') ? current" href="{link Homepage:default}">Domů</a></li>
                        <li><a n:class="link, $presenter->isLinkCurrent('Actuality:*') ? current" href="{link Actuality:list}">Akce</a></li>
                        <li><a n:class="link, $presenter->isLinkCurrent('About:*') ? current" href="{link About:about}">O nás</a></li>
                        <li><a n:class="link, $presenter->isLinkCurrent('Teaching:*') ? current" href="{link Teaching:list}">Články</a></li>
                        <li><a n:class="link, $presenter->isLinkCurrent('Galery:*') ? current" href="{link Galery:galeries}">Foto</a></li>
                        <li><a n:class="link, $presenter->isLinkCurrent('Audio:*') ? current" href="{link Audio:interprets}">Audio</a></li>
                        <li><a n:class="link, $presenter->isLinkCurrent('Contact:*') ? current" href="{link Contact:contact}">Kontakt</a></li>
                        <li><a n:class="link, $presenter->isLinkCurrent('Links:*') ? current" href="{link Links:default}">Odkazy</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <div class="container main-content">
        {block divider}<div class="divider"></div>{/block}
        {define breadcrumb_nav}
        <nav class="breadcrumb_nav" n:ifset="$backlinks">
            {foreach $backlinks as $backlink => $backtitle}
            <a class="link" href="{$backlink}">{$backtitle}</a>
            {sep}<span>&raquo;</span>{/sep}
            {/foreach}
        </nav>
        <div id="side_controls">
            <a title="Nahoru" id="up"></a>
        </div>
        {/define}
        {include content}
    </div>
    
    <div class="mahamantra-text">Haré Kršna Haré Kršna Kršna Kršna Haré Haré Haré Ráma Haré Ráma Ráma Ráma Haré Haré Haré Kršna Haré Kršna Kršna Kršna Haré Haré Haré Ráma Haré Ráma Ráma Ráma Haré Haré Haré Kršna Haré Kršna Kršna Kršna Haré Haré Haré Ráma Haré Ráma Ráma Ráma Haré Haré Haré Haré Haré Kršna Haré Kršna Kršna Kršna Haré Haré Haré Ráma Haré Ráma Ráma Ráma Haré Haré</div>
    <footer>
        <div class="container">
            <div class="row bhavan-info">
                <div class="col-sm-6 address-info">
                    <div class="box">
                        <img src="{$basePath}/images/layout/logo-pb-white.png" class="footer-logo" alt="logo-patička">
                        <div class="address-text">Durďákova 34, Brno</div>
                        <a class="link map-link" href="http://maps.google.com/?q=Durďákova 34, Brno" target="_blank">ukázat na mapě</a>
                    </div>
                </div>
                <div class="col-sm-6 contact-info">
                    <div class="row">
                        <div class="col-sm-6 leader-contact">
                            <div class="box">
                                <div>Sankírtan Dás</div>
                                <div><a class="link-mail" href="mailto:sankirtan.bvks@gmail.com">sankirtan.bvks@gmail.com</a></div>
                                <div>+420 739 634 848</div>
                            </div>
                        </div>
                        <div class="col-sm-6 telbank-contact">
                            <div class="box">
                                <div>Kam nám můžete přispět:</div>
                                <div>č. účtu: 2500248634/2010</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="{$basePath}/js/jquery.min.js"></script>
    <script src="{$basePath}/js/bootstrap.min.js"></script>
   	<script src="{$basePath}/js/main.js"></script>
	<script src="{$basePath}/js/jssor.slider.mini.js"></script>
    <script>
        var _ActualitySlidersTransitions = [
            { $Duration:700,$Opacity:2,$Brother:{ $Duration:1000,$Opacity:2}},
        ];

        jQuery(document).ready(function ($) {
            var options = {
                $AutoPlay: true,   
                $ArrowKeyNavigation: false,
                $PauseOnHover: 1,  
                $SlideWidth: 470,                                   {* [Optional] Width of every slide in pixels, default value is width of 'slides' container *}
                $SlideHeight: 30,                                   {* [Optional] Height of every slide in pixels, default value is height of 'slides' container *}
                $SlideshowOptions: {                                {* [Optional] Options to specify and enable slideshow or not *}
                    $Class: $JssorSlideshowRunner$,                 {* [Required] Class to create instance of slideshow *}
                    $Transitions: _ActualitySlidersTransitions, {* Fade *}
                },
            };

            var actuality_slider = new $JssorSlider$("actuality_slider", options);
        });

    </script>
	{block scripts}{/block}
</body>
</html>
