.audio-player {
  max-width: 720px;
  margin-bottom: 20px;
  clear: both;
}
.audio-player.small-margin {
  margin-bottom: 5px;
}
.audio-player .title-line {
  width: inherit;
  height: 25px;
  border-bottom: 1px rgba(235, 141, 58, 0.5) solid;
}
.audio-player .title-line .title {
  font-family: 'Lora', serif;
  font-weight: normal;
  font-size: 18px;
  color: #EB8C3A;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}
.audio-player .title-line .title.title-padding {
  padding-right: 66px;
}
.audio-player .title-line .download-link {
  margin-top: -26px;
  float: right;
}
.audio-player .audio-info {
  width: 100%;
  height: 23px;
  margin-top: 2px;
}
.audio-player .audio-info .place-time,
.audio-player .audio-info .verse-autor {
  color: #12323D;
  font-family: 'Lora', serif;
  font-size: 14px;
  font-style: italic;
}
.audio-player .audio-info .place-time {
  float: left;
}
.audio-player .audio-info .verse-autor {
  float: right;
}
.audio-player .audio-info .verse-autor .link {
  margin-left: 5px;
}
.mejs-container.wide {
  width: 581px !important;
}
player-bar-container {
  position: relative;
}
.hidder {
  width: 87px;
  height: 30px;
  display: table;
  z-index: 10;
  transition: 0.3s;
  float: right;
}
.hidder.hidder-hide {
  width: 100%;
}
.hidder .hidder-row {
  display: table-row;
}
.hidder .hidder-row .hidder-cell {
  display: table-cell;
  transition: 0.3s;
}
.hidder .hidder-row .hidder-cell.transparent-part {
  width: 47px;
  background: transparent;
}
.hidder .hidder-row .hidder-cell.download-part {
  width: 40px;
  background-image: url('../images/layout/bg.gif');
  background-size: 120px;
  background-position: right top;
  position: relative;
  top: -30px;
  z-index: 10;
}
.hidder .hidder-row .hidder-cell.download-part .download-part-background {
  width: 40px;
  height: 30px;
  background-color: #9F9483;
  border-radius: 0 4px 4px 0;
}
.hidder .hidder-row .hidder-cell.download-part .download-part-background .audio-download {
  width: inherit;
  height: inherit;
  background: inherit;
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.35));
  float: right;
  border-radius: inherit;
}
.hidder .hidder-row .hidder-cell.download-part .download-part-background .audio-download .download-button {
  width: 30px;
  height: 30px;
  margin-right: 7px;
  background: transparent url('mejs-download.svg') center center no-repeat;
  background-size: 20px 20px;
  float: right;
  display: block;
}
.hidder .hidder-row .hidder-cell.hidder-part {
  position: relative;
  top: -30px;
  background-image: url('../images/layout/bg.gif');
  background-size: 120px;
  background-position: right top;
  z-index: 10;
}
.mejs__container {
  height: 30px !important;
  background-color: transparent;
}
.mejs__controls {
  height: 30px;
  background-color: #9F9483 !important;
  border-radius: 4px;
}
.mejs__button > button {
  margin-top: 6px;
}
.mejs__play > button {
  margin-left: 5px;
}
.mejs__volume-button {
  margin-top: -1px;
}
.mejs__time {
  width: 44px;
  padding-top: 10px;
}
.mejs__time-rail {
  padding-top: 5px;
}
.mejs__horizontal-volume-slider {
  margin-top: -4px;
}
