body {
  font-family: 'PT Sans', sans-serif;
  font-size: 15px;
  line-height: 1.6;
  background-color: #FFFFF3;
  background-image: url('../images/layout/bg.gif');
  background-size: 120px;
}
h1,
h2 {
  font-family: 'Lora', serif;
  font-weight: bold;
  color: #EB8C3A;
  clear: both;
}
h1 {
  font-size: 30px;
  line-height: 1.6 !important;
  margin: 0 0 5px 0;
  height: 48px;
}
h2 {
  font-size: 20px;
  margin: 30px 0px 10px 0px;
}
.navbar {
  background-color: transparent;
  border: none;
  margin-top: 25px;
  margin-bottom: 15px;
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .navbar {
    margin-bottom: 0px;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .navbar {
    margin-bottom: 0px;
  }
}
@media (max-width: 767px) {
  .navbar {
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: #f8f8f8;
  }
}
.navbar .navbar-collapse {
  padding-right: 0;
  padding-left: 0;
}
.navbar .navbar-brand {
  float: none;
  margin-left: -20px !important;
}
.navbar .navbar-brand img {
  width: 370px;
  float: left;
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .navbar .navbar-brand img {
    width: 300px;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .navbar .navbar-brand img {
    width: 170px;
    padding-top: 2px;
  }
}
@media (max-width: 767px) {
  .navbar .navbar-brand img {
    width: 110px;
    margin: 10px;
  }
}
.navbar .nav-container {
  width: 640px;
  height: 85px;
  float: right;
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .navbar .nav-container {
    width: 620px;
    height: 90px;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .navbar .nav-container {
    width: 535px;
    height: 73px;
    margin-top: 7px;
  }
}
@media (max-width: 767px) {
  .navbar .nav-container {
    width: 100%;
    padding: 10px;
    float: none;
  }
}
.navbar .nav-container .actuality-bar {
  color: #EB8C3A;
  float: left;
  margin-top: 20px;
  margin-right: 1px;
  font-size: 20px;
  height: 32px;
  width: 543px;
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .navbar .nav-container .actuality-bar {
    margin-top: 15px;
    margin-right: 2px;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .navbar .nav-container .actuality-bar {
    margin-top: 5px;
    width: 461px;
  }
}
.navbar .nav-container .actuality-bar > a.section-link {
  font-size: 19px;
  color: #12333e;
  float: left;
  transition: 0.3s;
}
.navbar .nav-container .actuality-bar > a.section-link:hover {
  color: #EB8C3A;
  transition: 0.3s;
}
.navbar .nav-container .actuality-bar #actuality_slider {
  width: 470px;
  height: 30px;
  margin: -1px 0 0 5px;
  float: left;
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .navbar .nav-container .actuality-bar #actuality_slider {
    width: 388px !important;
  }
}
.navbar .nav-container .actuality-bar #actuality_slider a {
  color: #EB8C3A;
}
.navbar .nav-container .actuality-bar #actuality_slider div[u=slides] {
  width: 470px;
  height: 30px;
  font-size: 20px;
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .navbar .nav-container .actuality-bar #actuality_slider div[u=slides] {
    width: 388px;
  }
}
.navbar .nav-container .actuality-bar > a {
  font-size: 19px;
  color: #12333e;
  float: left;
  transition: 0.3s;
}
.navbar .nav-container .actuality-bar > a:hover {
  color: #EB8C3A;
  transition: 0.3s;
}
.navbar .nav-container a.facebook-link {
  width: 30px;
  height: 30px;
  font-size: 25px;
  line-height: 33px;
  text-align: center;
  color: #ffffff;
  background-color: #EB8C3A;
  border-radius: 5px 0;
  margin-top: 8px;
  float: right;
  clear: left;
  transition: 0.2s;
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .navbar .nav-container a.facebook-link {
    margin-top: 1px;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .navbar .nav-container a.facebook-link {
    margin-top: 0px;
  }
}
@media (max-width: 767px) {
  .navbar .nav-container a.facebook-link {
    margin-top: 0px;
  }
}
.navbar .nav-container a.facebook-link:hover {
  color: #12323D;
  transition: 0.2s;
  text-decoration: none;
}
.navbar-header {
  display: none;
  border-bottom: 1px rgba(235, 140, 58, 0.5) solid;
}
@media (max-width: 767px) {
  .navbar-header {
    display: block;
  }
}
.navbar-nav {
  float: left;
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .navbar-nav {
    margin-top: -7px;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .navbar-nav {
    margin-top: -2px;
  }
}
@media (max-width: 767px) {
  .navbar-nav {
    margin-top: 0px;
    float: left;
  }
}
.navbar-nav li a {
  font-size: 17px;
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .navbar-nav li a {
    padding-right: 12px !important;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .navbar-nav li a {
    padding-left: 6px !important;
    padding-right: 11px !important;
    padding-top: 9px !important;
    padding-bottom: 11px !important;
  }
}
.navbar-nav li:first-child a {
  padding-left: 0px;
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .navbar-nav li:first-child a {
    padding-left: 0px !important;
  }
}
@media (max-width: 767px) {
  .navbar-nav li:first-child a {
    padding-left: 15px !important;
  }
}
.divider {
  width: 100%;
  height: 18px;
  margin-top: 2px;
  background: url("../images/layout/divider.png") no-repeat center center / 1180px 18px;
  clear: both;
}
@media screen and (max-width: 767px) {
  .divider {
    background: none;
  }
}
.divider.simple {
  background: url("../images/layout/divider-simple.png") top center / 1180px 4px;
  height: 4px;
}
.divider.flipped {
  transform: rotate(180deg);
}
.divider.shifted {
  margin-top: -13px;
}
.divider.broken {
  height: 44px;
  background-size: 990px 44px;
  background-image: url(../images/layout/divider-broken.png);
}
.main-content {
  min-height: 500px;
  margin-bottom: 30px;
}
nav.breadcrumb-nav {
  float: left;
  display: table;
  margin-top: -6px;
  margin-bottom: 4px;
  margin-right: 15px;
}
nav.breadcrumb-nav .sep-arrow {
  padding: 0 5px;
}
@media screen and (max-width: 767px) {
  nav.breadcrumb-nav {
    margin-bottom: 0;
  }
}
nav.next-prev-nav {
  float: right;
  display: table;
  margin-top: -6px;
  margin-bottom: 4px;
}
nav.next-prev-nav.mobile {
  margin: 10px 0;
}
nav.next-prev-nav .nav-delimiter {
  padding: 0 5px;
}
@media screen and (max-width: 767px) {
  nav.next-prev-nav {
    margin-bottom: 0;
  }
}
.mahamantra-text {
  width: 100%;
  height: 23px;
  text-align: left;
  color: #61503c;
  font-family: 'Bubblegum Sans', cursive;
  font-size: 22px;
  word-spacing: 2px;
  white-space: nowrap;
  overflow: hidden;
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .mahamantra-text {
    font-size: 20px;
    height: 21px;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .mahamantra-text {
    font-size: 18px;
    height: 19px;
  }
}
@media (max-width: 767px) {
  .mahamantra-text {
    font-size: 16px;
    height: 17px;
  }
}
@media (max-width: 544px) {
  .mahamantra-text {
    font-size: 14px;
    height: 15px;
  }
}
@media (max-width: 320px) {
  .mahamantra-text {
    font-size: 12px;
    height: 12px;
  }
}
footer {
  min-height: 55px;
  font-size: 14px;
  line-height: 20px;
  color: #FFFFFF;
  background: #61503c;
  padding-top: 35px;
  padding-bottom: 35px;
}
@media screen and (max-width: 700px) {
  footer .container {
    padding-left: 10px;
    padding-right: 10px;
  }
  footer .container .bhavan-info {
    margin: 0;
  }
}
footer .address-info {
  height: 59px;
  border-right: 1px #FFFFFF dotted;
  padding-top: 3px;
}
footer .address-info .box {
  width: 360px;
}
@media screen and (max-width: 440px) {
  footer .address-info .box {
    width: 100%;
  }
}
@media screen and (max-width: 767px) {
  footer .address-info {
    padding-left: 10%;
    float: left;
  }
}
@media screen and (max-width: 700px) {
  footer .address-info {
    width: 100%;
    height: 65px;
    padding-bottom: 5px;
    float: none;
    border-right: none;
    border-bottom: 1px #FFFFFF dotted;
    padding-right: 0px;
    padding-left: 0px;
  }
  footer .address-info .box {
    margin: 0 auto;
  }
}
@media screen and (max-width: 390px) {
  footer .address-info {
    height: 105px;
    padding-left: 10px;
  }
}
footer .address-info .footer-logo {
  height: 50px;
  margin-right: 10px;
  float: left;
}
@media screen and (max-width: 390px) {
  footer .address-info .footer-logo {
    float: none;
  }
}
footer .address-info .address-text {
  margin-top: 7px;
  margin-bottom: 5px;
  float: left;
}
@media screen and (max-width: 390px) {
  footer .address-info .address-text {
    margin-top: 5px;
    margin-bottom: 0;
    float: none;
  }
}
footer .address-info .map-link {
  color: #eb8c3a;
  float: left;
}
footer .address-info .map-link:hover {
  color: #FFFFFF;
}
@media screen and (max-width: 390px) {
  footer .address-info .map-link {
    float: none;
  }
}
@media screen and (max-width: 767px) {
  footer .contact-info {
    padding-left: 10%;
  }
}
@media screen and (max-width: 700px) {
  footer .contact-info {
    padding: 5px 0;
  }
}
@media screen and (max-width: 700px) {
  footer .contact-info .row {
    margin: 0 auto;
  }
}
@media screen and (max-width: 440px) {
  footer .contact-info .row {
    width: 100%;
    margin: 0 auto;
  }
}
footer .contact-info .leader-contact,
footer .contact-info .telbank-contact {
  white-space: nowrap;
}
@media screen and (max-width: 767px) {
  footer .contact-info .leader-contact,
  footer .contact-info .telbank-contact {
    float: left;
  }
}
@media screen and (max-width: 700px) {
  footer .contact-info .leader-contact,
  footer .contact-info .telbank-contact {
    width: 50%;
    padding-left: 10vw;
  }
  footer .contact-info .leader-contact .box div,
  footer .contact-info .telbank-contact .box div {
    width: 40%;
  }
  footer .contact-info .leader-contact .box div:last-child,
  footer .contact-info .telbank-contact .box div:last-child {
    width: 60%;
  }
}
@media screen and (max-width: 600px) {
  footer .contact-info .leader-contact .box div,
  footer .contact-info .telbank-contact .box div {
    width: 100% !important;
    float: none;
  }
}
@media screen and (max-width: 440px) {
  footer .contact-info .leader-contact,
  footer .contact-info .telbank-contact {
    float: none;
    padding-left: 2.5vw !important;
  }
}
@media screen and (max-width: 700px) {
  footer .contact-info .telbank-contact {
    padding-right: 0;
  }
}
@media screen and (max-width: 600px) {
  footer .contact-info .telbank-contact {
    padding-left: 5vw;
  }
}
footer .contact-info .link-mail {
  color: inherit;
}
.list-title {
  margin: 0;
}
@media screen and (min-width: 600px) and (max-width: 767px) {
  .list-title {
    margin: 0 0 -5px 0px;
  }
}
@media screen and (max-width: 599px) {
  .list-title {
    margin: 0 0 -10px 0;
  }
}
.list {
  margin-bottom: 100px;
  margin-left: 10px;
}
@media (max-width: 544px) {
  .list {
    margin-left: -5px;
  }
}
@media screen and (max-width: 599px) {
  .list {
    margin-bottom: 50px;
  }
}
.list .list-group {
  width: 100%;
  margin-bottom: 50px;
}
.list .list-group .list-group-title {
  width: 96%;
  border-bottom: 1px #eb8c3a solid;
  margin: 20px 0 15px 0;
}
.list .col-md-6:first-of-type .list-box {
  margin-top: 10px;
}
.list .col-md-6:nth-of-type(2) .list-box {
  margin-top: 10px;
  margin-bottom: 10px;
}
.list .col-md-6:nth-of-type(odd) {
  padding-left: 0;
  clear: left;
}
.list .col-md-6:nth-of-type(even) {
  padding-right: 0;
}
@media (max-width: 991px) {
  .list .col-md-6 {
    padding: 0;
  }
  .list .col-md-6:nth-of-type(2) .list-box {
    margin-top: 25px;
  }
}
.list .list-box {
  margin-top: 25px;
  min-height: 110px;
  cursor: pointer;
}
.list .list-box:hover .list-box-title {
  color: #663200;
  transition: 0.3s;
}
.list .list-box:hover .list-box-link {
  text-decoration: underline;
  transition: 0.3s;
}
@media screen and (max-width: 599px) {
  .list .list-box {
    min-height: 135px;
  }
}
.list .list-box .list-box-image {
  border-radius: 20px 0;
  width: 100px;
  height: 100px;
  float: left;
  transition: 1s;
  font-size: 30px;
  background-size: 100px;
  background-color: transparent;
  margin-top: 6px;
  margin-right: 15px;
  margin-bottom: 10px;
  position: relative;
}
@media screen and (max-width: 599px) {
  .list .list-box .list-box-image {
    margin-top: 0;
    margin-right: 10px;
    margin-bottom: 5px;
  }
}
.list .list-box .list-box-image.image-by-text {
  font-size: 26px;
  text-align: center;
  color: #FFFFFF;
  background-color: #325058;
  padding-top: 30px;
}
.list .list-box .list-box-image.image-by-text.alt-color {
  background-color: #796956;
}
.list .list-box .list-box-image .list-box-image-title {
  width: 100%;
  height: 25px;
  font-size: 14px;
  line-height: 24px;
  color: #FFFFFF;
  background-color: rgba(0, 0, 0, 0.5);
  border-bottom-right-radius: inherit;
  text-align: center;
  margin-top: 75px;
}
.list .list-box .list-box-image .list-box-image-title.title-small {
  font-size: 13px;
  line-height: 25px;
}
.list .list-box .list-box-title {
  width: 72%;
  font-family: 'Lora', serif;
  font-size: 18px;
  font-weight: bold;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  color: #EB8C3A;
  margin: 0px;
  float: left;
  clear: right;
  display: none;
  transition: 0.2s;
}
@media screen and (max-width: 599px) {
  .list .list-box .list-box-title {
    float: left;
    margin-bottom: 5px;
    clear: both;
    width: 100%;
  }
}
.list .list-box .list-box-link {
  color: #61503c;
  position: relative;
  top: -2px;
  transition: 0.2s;
}
.list .list-box .list-box-text {
  min-height: 80px;
  line-height: 18px;
  font-size: 15px;
  padding-top: 29px;
  padding-right: 10px;
  color: #61503c;
  text-align: justify;
  margin-bottom: 0 !important;
}
@media screen and (max-width: 767px) {
  .list .list-box .list-box-text {
    padding-right: 20px;
  }
}
@media (max-width: 544px) {
  .list .list-box .list-box-text {
    padding-right: 10px !important;
  }
}
.list .list-box .list-box-text.no-padding {
  padding-top: 0;
}
.list .list-box .list-box-note {
  font-size: 13px;
  font-style: italic;
  color: #61503c;
  margin-top: 5px;
  padding-right: 10px;
  float: right;
}
.collection-title {
  margin-bottom: 10px;
}
.collection-nav {
  margin-top: 10px;
  margin-right: 15px;
}
.collection-nav .link {
  text-transform: uppercase;
  display: block;
  float: left;
  padding-left: 10px;
}
.collection-nav .link:after,
.collection-nav .link:first-child:before {
  content: '|';
  font-size: 1.2em;
  color: #12323d;
  margin-left: 10px;
  position: relative;
  top: -1px;
}
.collection-nav .link:first-child {
  padding-left: 0;
}
.collection-nav .link:first-child:before {
  margin-right: 10px;
  margin-left: 0;
}
nav.next-prev-collection-nav {
  float: right;
  display: table;
  margin-top: 12px;
  margin-bottom: 4px;
}
nav.next-prev-collection-nav.mobile {
  margin: 10px 0;
}
nav.next-prev-collection-nav .nav-delimiter {
  padding: 0 5px;
}
@media screen and (max-width: 767px) {
  nav.next-prev-collection-nav {
    margin-bottom: 0;
  }
}
.slideshow {
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.slideshow div[u=slides] {
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: hidden;
}
.slideshow .slider-bullets {
  position: relative;
  top: 550px;
  left: 550px;
}
.slideshow .slider-bullets div[u=prototype] {
  width: 16px;
  height: 16px;
}
.slideshow .slider-bullets div,
.slideshow .slider-bullets div:hover,
.slideshow .slider-bullets .av {
  background: url(../images/dots.png) no-repeat;
  overflow: hidden;
  cursor: pointer;
}
.slideshow .slider-bullets div {
  background-position: -7px -7px;
}
.slideshow .slider-bullets div:hover,
.slideshow .slider-bullets .av:hover {
  background-position: -37px -7px;
}
.slideshow .slider-bullets .av {
  background-position: -67px -7px;
}
.slideshow .slider-bullets .dn,
.slideshow .slider-bullets .dn:hover {
  background-position: -97px -7px;
}
#slideshow_loader {
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.3);
  margin-bottom: -610px;
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  #slideshow_loader {
    margin-top: 2px;
  }
}
#slideshow_loader a {
  width: 100%;
}
#slideshow_loader a img {
  width: inherit;
}
#slideshow {
  width: 1140px;
  height: 606px;
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.3);
  margin-bottom: 30px;
  visibility: hidden;
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  #slideshow {
    margin-top: 2px;
  }
}
@media (max-width: 767px) {
  #slideshow {
    box-shadow: 0 7px 10px -3px rgba(0, 0, 0, 0.3);
  }
}
#slideshow div[u=slides],
#slideshow img[u=image] {
  width: 1140px;
  height: 606px;
}
.news-section {
  display: none;
}
.news-section div.col-md-4 {
  padding-left: 13px;
  padding-right: 7px;
}
.news-section div.col-md-4:not(:first-child) {
  background: url('../images/layout/vertical-divider.png') no-repeat 2px 24px;
  background-size: 3px 280px;
}
.news-section h2 {
  height: 30px;
  font: 20px "PT Sans", sans-serif;
  margin: 10px 0 0 25px;
}
.news-section .news-slideshow {
  width: 100%;
  height: 270px;
}
.news-section .news-slideshow div[u=slides] {
  width: 100%;
  height: 270px;
}
.news-section .news-slideshow a.new-link {
  width: 100%;
  height: 75px;
  color: #12323d;
  margin-bottom: 15px;
  display: inline-block;
  transition: 0.3s;
  padding-right: 30px;
}
.news-section .news-slideshow a.new-link img.new-image {
  width: 65px;
  height: 65px;
  border-radius: 16px 0;
  margin: 5px 15px 0 0;
  float: left;
}
@media screen and (max-width: 599px) {
  .news-section .news-slideshow a.new-link img.new-image {
    margin-right: 10px;
  }
}
.news-section .news-slideshow a.new-link div.new-title {
  height: 22px;
  font-size: 16px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-top: 11px;
  position: relative;
}
.news-section .news-slideshow a.new-link span.new-description {
  font-size: 14px;
}
.news-section .news-slideshow a.new-link:hover[href] {
  color: #eb8c3a;
  transition: 0.3s;
}
.news-section button.news-nav-button {
  font-size: 14px;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  display: none;
  transition: 0.3s;
}
.news-section button.news-nav-button.prev {
  float: left;
}
.news-section button.news-nav-button.prev:before {
  content: "« ";
  font-size: 14px;
}
.news-section button.news-nav-button.next {
  float: right;
}
.news-section button.news-nav-button.next:after {
  content: " »";
  font-size: 14px;
}
.news-section button.news-nav-button:hover {
  color: #eb8c3a;
  transition: 0.3s;
}
#news_section_lg {
  min-height: 334px;
}
#news_section_lg div.col-md-4 {
  min-height: inherit;
}
#news_section_sm div.col-md-4 {
  height: 150px;
}
#news_section_sm div.col-md-4:not(:first-child) {
  background: url('../images/layout/horizontal-divider.png') no-repeat 24px 2px;
  background-size: 710px 4px;
  height: 167px;
  padding-top: 17px;
}
#news_section_sm .news-slideshow {
  height: 80px;
}
#news_section_sm .news-slideshow div[u=slides] {
  height: 80px;
}
#news_section_sm .news-slideshow a.new-link {
  width: 50%;
  float: left;
  padding-right: 10px;
}
#news_section_sm button.news-nav-button {
  margin-top: 5px;
}
#news_section_sm button.news-nav-button.prev {
  padding-left: 0px;
}
#news_section_sm button.news-nav-button.next {
  padding-right: 0px;
}
@media screen and (max-width: 599px) {
  #news_section_xs {
    display: block;
  }
}
#news_section_xs div.col-md-4 {
  height: 325px;
}
#news_section_xs div.col-md-4:not(:first-child) {
  background: url('../images/layout/horizontal-divider.png') no-repeat center 2px;
  background-size: 96% 4px;
  height: 352px;
  padding-top: 17px;
}
#news_section_xs .news-slideshow a.new-link {
  padding-right: 20px;
}
.article-detail {
  margin-bottom: 50px;
}
.article-detail a {
  color: #EB8C3A;
  transition: 0.3s;
}
.article-detail a:hover {
  color: #12323D;
  transition: 0.3s;
}
.article-detail hr {
  border-top: 1px #000 solid;
}
.article-detail h3 {
  margin: 15px 0;
}
.article-detail p {
  text-align: justify;
  margin-bottom: 20px;
}
.article-detail .article-title {
  margin-left: 0;
  margin-bottom: 10px;
  clear: both;
}
@media screen and (min-width: 600px) and (max-width: 767px) {
  .article-detail .article-title {
    font-size: 25px;
    height: 40px;
  }
}
@media screen and (max-width: 599px) {
  .article-detail .article-title {
    font-size: 20px;
    height: 30px;
  }
}
.article-detail .article-image {
  width: 50%;
  border-radius: 70px 0;
  margin: 30px 0 0px 15px;
  float: right;
  position: relative;
  top: -20px;
}
@media screen and (max-width: 991px) {
  .article-detail .article-image {
    border-radius: 40px 0;
  }
}
@media (max-width: 544px) {
  .article-detail .article-image {
    border-radius: 20px 0;
  }
}
.article-navigation {
  font-size: 16px;
  height: 110px;
  margin-top: 60px;
}
.article-navigation .article-navigation-linkbox {
  float: left;
}
.article-navigation .article-navigation-linkbox.link-right {
  float: right;
}
.article-navigation .article-navigation-linkbox.link-right .link-hover-label {
  position: inherit;
}
.article-navigation .article-navigation-linkbox:hover .article-navigation-link {
  color: #eb8c3a;
}
.article-navigation .article-navigation-linkbox:hover .link-hover-label {
  opacity: 1;
  transition: 0.3s;
}
.article-navigation .article-navigation-linkbox:hover .link-backlink .icon-line {
  background: #eb8c3a !important;
  transition: 0.3s;
}
.article-navigation .article-navigation-linkbox .article-navigation-link {
  font-size: 15px;
  height: 38px;
  line-height: 28px;
  display: block;
}
.article-navigation .article-navigation-linkbox .article-navigation-link.link-backlink {
  width: 40px;
  height: 38px;
  margin-right: 20px;
  padding-top: 12px;
}
.article-navigation .article-navigation-linkbox .article-navigation-link.link-backlink .icon-line {
  width: 23px;
  height: 2px;
  border-radius: 1px;
  background: #12323d;
  margin: 0 auto;
  transition: 0.3s;
}
.article-navigation .article-navigation-linkbox .article-navigation-link.link-backlink .icon-line:not(:first-child) {
  margin-top: 4px;
}
.article-navigation .article-navigation-linkbox .article-navigation-link.link-prev {
  width: 250px;
  padding: 5px 10px;
}
.article-navigation .article-navigation-linkbox .article-navigation-link.link-prev:before {
  content: '«';
  margin-right: 5px;
}
.article-navigation .article-navigation-linkbox .article-navigation-link.link-next {
  text-align: right;
  padding: 5px 10px;
}
.article-navigation .article-navigation-linkbox .article-navigation-link.link-next:after {
  content: '»';
  margin-left: 5px;
}
.article-navigation .article-navigation-linkbox .link-hover-label {
  color: #12323d;
  position: absolute;
  background-color: #FFFFFF;
  box-shadow: 0px 0px 20px 0px rgba(200, 200, 200, 0.5);
  display: inline-block;
  opacity: 0;
  transition: 0.3s;
}
.article-navigation .article-navigation-linkbox .link-hover-label:hover {
  opacity: 1;
}
.article-navigation .article-navigation-linkbox .link-hover-label.label-text {
  font-size: 15px;
  padding: 10px 15px;
}
.article-navigation .article-navigation-linkbox .link-hover-label.label-picture {
  font-size: 15px;
  line-height: 61px;
  height: 79px;
  padding: 10px 20px 10px 10px;
}
.article-navigation .article-navigation-linkbox .link-hover-label.label-picture .image-picture {
  width: 58px;
  height: 58px;
  margin-right: 20px;
  border-radius: 10px 0 10px 0;
  display: block;
  float: left;
}
.audio_nav .link:not(:last-child):after {
  content: '|';
  font-size: 1.1em;
  color: #12323d;
  margin-left: 5px;
  position: relative;
  top: -1px;
}
.lectures-group {
  margin-bottom: 90px;
}
.lectures-group:first-of-type {
  margin-top: 36px;
}
.lectures-group .group-header {
  width: 100%;
  margin: 20px 0 -20px 0;
  clear: both;
}
.lectures-group .group-header .group-header-title {
  font-family: "PT Sans", sans-serif;
  font-weight: normal;
  font-size: 23px !important;
  color: #333333;
  border-bottom: 2px solid rgba(235, 140, 58, 0.78);
  margin-left: 90px !important;
  display: block;
  position: relative;
  top: -50px;
}
.lectures-group .group-header .group-header-label {
  width: 75px;
  height: 75px;
  border-radius: 15px 0 15px 0;
  background-size: 75px;
  margin: -20px 15px 0 0;
  display: block;
  float: left;
}
.lectures-group .group-header .group-header-label.label-text {
  font-size: 30px;
  line-height: 79px;
  text-align: center;
  color: #FFFFFF;
  background-color: #325058;
}
.lectures-group .group-header .group-header-label.label-text.infinity {
  font-size: 40px;
  line-height: 79px;
}
.lectures-group .group-header .group-header-label.label-text.year-label {
  font-size: 22px;
}
.lectures-group .group-header .group-header-label.alt-color {
  background-color: #796956;
}
/**********************
       CONSTANTS
***********************/
/**********************
        MIXINS
***********************/
@media screen and (max-width: 991px) {
  .hide-tws-down {
    display: none !important;
  }
}
@media screen and (min-width: 992px) {
  .hide-ts-up {
    display: none !important;
  }
}
@media screen and (max-width: 599px) {
  .sms-down {
    display: block !important;
  }
}
@media screen and (min-width: 600px) {
  .sms-up {
    display: block !important;
  }
}
@media screen and (min-width: 600px) and (max-width: 767px) {
  .visible-sm-xs {
    display: block;
  }
}
@media screen and (max-width: 767px) {
  .hide-lms-down {
    display: none !important;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .visible-ts {
    display: block;
  }
}
a:hover,
a:focus {
  text-decoration: none;
}
.link {
  color: #12323d;
  transition: 0.3s;
}
.link.current {
  color: #eb8c3a;
}
.link:hover {
  color: #eb8c3a;
  transition: 0.3s;
}
.link:focus {
  color: #eb8c3a;
}
.link-inverse {
  color: #eb8c3a;
  transition: 0.3s;
}
.link-inverse.current {
  color: #12323d;
}
.link-inverse:hover {
  color: #12323d;
  transition: 0.3s;
}
.link-inverse:focus {
  color: #12323d;
}
.link-disabled {
  color: #BBBBBB;
}
a[href^="tel"] {
  color: inherit;
  text-decoration: none;
}
.bold {
  font-weight: bold;
}
.scale-text {
  white-space: nowrap;
}
button:focus {
  outline: 0;
}
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.clearfix {
  display: inline-block;
}
html[xmlns] .clearfix {
  display: block;
}
* html .clearfix {
  height: 1%;
}
