body {
  font-family: 'PT Sans', sans-serif;
  background-color: #FFFFF3;
  background-image: url('../images/layout/bg.gif');
  background-size: 120px;
}
a:hover {
  text-decoration: none;
}
.navbar {
  background-color: transparent;
  border: none;
  margin-top: 25px;
  margin-bottom: 10px;
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .navbar {
    margin-bottom: 0px;
  }
}
@media (max-width: 767px) {
  .navbar {
    margin-top: 0px;
    background-color: #f8f8f8;
  }
}
.navbar .actuality-bar {
  color: #EB8C3A;
  float: right;
  margin-top: 20px;
  margin-right: 1px;
  font-size: 20px;
  height: 32px;
  width: 463px;
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .navbar .actuality-bar {
    margin-top: 15px;
    margin-right: 2px;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .navbar .actuality-bar {
    margin-top: 5px;
    width: 441px;
  }
}
@media (max-width: 767px) {
  .navbar .actuality-bar {
    float: left;
    width: 100%;
  }
}
.navbar .actuality-bar > a.section-link {
  font-size: 19px;
  color: #12333e;
  float: left;
  transition: 0.3s;
}
.navbar .actuality-bar > a.section-link:hover {
  color: #EB8C3A;
  transition: 0.3s;
}
.navbar .actuality-bar #actuality_slider {
  width: 400px;
  height: 30px;
  margin: -1px 0 0 5px;
  float: left;
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .navbar .actuality-bar #actuality_slider {
    width: 378px !important;
  }
}
@media (max-width: 544px) {
  .navbar .actuality-bar #actuality_slider {
    margin-top: 3px;
    margin-left: 0px;
    clear: both;
  }
}
.navbar .actuality-bar #actuality_slider a {
  color: #EB8C3A;
}
@media (max-width: 544px) {
  .navbar .actuality-bar #actuality_slider a {
    font-size: 18px;
  }
}
.navbar .actuality-bar #actuality_slider div[u=slides] {
  width: 400px;
  height: 30px;
  font-size: 20px;
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .navbar .actuality-bar #actuality_slider div[u=slides] {
    width: 378px;
  }
}
.navbar .actuality-bar > a {
  font-size: 19px;
  color: #12333e;
  float: left;
  transition: 0.3s;
}
.navbar .actuality-bar > a:hover {
  color: #EB8C3A;
  transition: 0.3s;
}
.navbar a.facebook-link {
  width: 30px;
  height: 30px;
  font-size: 25px;
  line-height: 33px;
  text-align: center;
  color: #ffffff;
  background-color: #EB8C3A;
  border-radius: 5px 0;
  margin-top: -24px;
  margin-left: 10px;
  float: right;
  clear: left;
  transition: 0.2s;
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .navbar a.facebook-link {
    margin-top: -19px;
  }
}
@media (max-width: 767px) {
  .navbar a.facebook-link {
    margin-top: -35px;
  }
}
.navbar a.facebook-link:hover {
  color: #12323D;
  transition: 0.2s;
  text-decoration: none;
}
.navbar-header {
  display: none;
}
@media (max-width: 767px) {
  .navbar-header {
    display: block;
  }
}
.navbar-nav {
  margin-top: -32px;
  float: right;
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .navbar-nav {
    margin-top: -29px;
  }
}
@media (max-width: 767px) {
  .navbar-nav {
    margin-top: 0px;
    float: left;
  }
}
@media (max-width: 544px) {
  .navbar-nav {
    margin-top: 25px;
  }
}
.navbar-nav a {
  font-size: 1.2em;
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .navbar-nav a {
    padding-left: 13px !important;
    padding-right: 13px !important;
  }
}
.link {
  color: #12323D;
  transition: 0.3s;
}
.link:hover {
  color: #EB8C3A;
  transition: 0.3s;
}
.slideshow {
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.slideshow div[u=slides] {
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: hidden;
}
.slideshow .slider-bullets {
  position: relative;
  top: 500px;
  left: 440px;
}
.slideshow .slider-bullets div[u=prototype] {
  width: 16px;
  height: 16px;
}
.slideshow .slider-bullets div,
.slideshow .slider-bullets div:hover,
.slideshow .slider-bullets .av {
  background: url(../images/slides/dots.png) no-repeat;
  overflow: hidden;
  cursor: pointer;
}
.slideshow .slider-bullets div {
  background-position: -7px -7px;
}
.slideshow .slider-bullets div:hover,
.slideshow .slider-bullets .av:hover {
  background-position: -37px -7px;
}
.slideshow .slider-bullets .av {
  background-position: -67px -7px;
}
.slideshow .slider-bullets .dn,
.slideshow .slider-bullets .dn:hover {
  background-position: -97px -7px;
}
.logo {
  width: 370px;
  float: left;
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .logo {
    width: 300px;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .logo {
    width: 230px;
  }
}
@media (max-width: 767px) {
  .logo {
    width: 110px;
    margin: 10px;
  }
}
.img-full {
  min-width: 100%;
}
.brand-before,
.brand-name {
  text-transform: capitalize;
}
.brand-before {
  margin: 15px 0;
}
.brand-name {
  margin: 0;
  font-size: 4em;
}
.tagline-divider {
  margin: 15px auto 3px;
  max-width: 250px;
  border-color: #999999;
}
.box {
  margin-bottom: 20px;
  padding: 0 15px;
}
.intro-text {
  text-transform: uppercase;
  font-size: 1.25em;
  font-weight: 400;
  letter-spacing: 1px;
}
.img-border {
  float: none;
  margin: 0 auto 0;
  border: #999999 solid 1px;
}
.img-left {
  float: none;
  margin: 0 auto 0;
}
footer {
  background: #fff;
  background: rgba(255, 255, 255, 0.9);
}
footer p {
  margin: 0;
  padding: 50px 0;
}
@media screen and (min-width: 1200px) {
  .box:after {
    content: '';
    display: table;
    clear: both;
  }
}
